@import "../../colors";

input[type="submit"] {
  background-color: $nfl-blue;
  color: white;
}

.jb-button {
  margin-bottom: 16px;
  &:active {
    background-color: $nfl-blue-m-30 !important;
  }
  &:hover {
    background-color: $nfl-blue-p-10;
  }
  &:disabled {
    background-color: $nfl-blue-p-40;
    cursor: not-allowed;
  }
}
