.nav-bar {
  background-color: #013369;
  display: flex;
}

#nav-link-group {
  height: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  display: inline-block;
  margin: 8px 16px;
  padding: 0px;
  color: #dddddd;
  font-size: 16px;
  font-weight: 500;

  &:hover,
  &:focus {
    color: white;
  }

  // &:focus-visible {
  //   outline: none;
  //   box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
  //   -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
  //   -webkit-appearance: none;
  //   border-radius: 4px;
  // }

  &.home-link {
    margin: 8px 0px;
    padding: 0px;
  }
}

.home-link-group {
  text-align: left;
}

.active-link {
  color: white !important;
  font-weight: 900;
}

.home-link-text {
  color: white;
  font-size: 28px;
  font-weight: 400;
}

#nav-bar-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
