$nfl-blue: #013369;
$nfl-blue-m-30: #01244a;
$nfl-blue-p-10: #1a4778;
$nfl-blue-p-30: #4d7096;
$nfl-blue-p-50: #6785a5;

$nfl-red: #d50a0a;

$grayscale-10: #e6e6e6;
$grayscale-50: #808080;
$grayscale-70: #4c4c4c;
$grayscale-80: #333333;
$grayscale-90: #191919;

// NFL Team Colors
$crd: #97233f;
$atl: #a71930;
$rav: #241773;
$buf: #00338d;
$car: #0088ce;
$chi: #031e2f;
$cin: #f9461c;
$cle: #f9461c;
$dal: #002147;
$den: #ff6319;
$det: #2a6ebb;
$gnb: #2c5e4f;
$htx: #03202f;
$clt: #002395;
$jax: #006983;
$kan: #c60c30;
$rai: #111c24;
$sdg: #0080c6;
$ram: #003594;
$mia: #006265;
$min: #4b306a;
$nwe: #002244;
$nor: #968252;
$nyg: #0b2265;
$nyj: #2c5e4f;
$phi: #004953;
$pit: #ffb612;
$sfo: #97233f;
$sea: #00338d;
$tam: #a71930;
$oti: #0c2340;
$was: #773141;
