$nfl-blue: #013369;
$nfl-blue-m-30: #01244a;
$nfl-blue-p-10: #1a4778;
$nfl-blue-p-40: #4d7096;

$nfl-red: #d50a0a;

$grayscale-10: #e6e6e6;
$grayscale-50: #808080;
$grayscale-70: #4c4c4c;
$grayscale-80: #333333;
$grayscale-90: #191919;
